/node_modules
/public/hot
/public/todo/
/public/images
/public/files
/public/uploads/*
/public/storage
/public/music/*
/public/js/modules
/public/css/addons
/public/css/addons-pro
/public/js/addons
/public/js/addons-pro
/public/addons
/public/font
/public/img
/public/scss
/public/src
/public/css/mdb*
/public/js/mdb*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
