@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil|Artifika|Sacramento|Cinzel+Decorative|Fanwood+Text|Fredericka+the+Great|Fugaz+One|Germania+One|Graduate|Grand+Hotel|IM+Fell+Double+Pica|Montserrat|Slabo+27px|Source+Sans+Pro);

html, body {
    font-family: "Times New Roman",Times,serif;
    font-weight: 100;
    min-height: 100vh;
    margin: 0;
}

.wow {
    visibility: hidden;
}

.mdb-lightbox figure .img-fluid {
    height: 100%;
    max-height: initial;
}

.coolText1 {
    font-family: 'Fredericka the Great', cursive;
}

.coolText2{
    font-family: 'Cinzel Decorative', cursive;
}

.coolText3{
    font-family: 'Allerta Stencil', cursive;
}

.coolText4{
    font-family: 'Fanwood Text', cursive;
}

.coolText5{
    font-family: 'Germania One', cursive;
}

.coolText6{
    font-family: 'Sacramento', cursive;
}

.text-underline{
    text-decoration: underline;
}

.pre_title {
    color: red;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 0px;
}

.navbar {
    width: 100%;
}

.white-skin .navbar .navbar-nav .nav-item a.active-nav-item {
    color: red !important;;
}

.help-block, .has-error {
    color: red !important;;
}

.bottom {bottom: 0px;}
.top {top: 0px;}
.left {left: 0px;}
.right {right:0px;}
.middle {top:45% !important;}

.flashMessage {
    background: darkcyan;
    color: wheat;
    position: fixed;
    z-index: 20;
    padding: 20px;
    border-radius: 10px;
    top: -150px;
    left: 40%;
    width: 25%;
}

.side-nav .logo-wrapper {
    height: 160px;
}

.navbar {
    z-index: 1040;
}
.side-nav {
    margin-top: 49px !important;
}

.double-nav .breadcrumb-dn p {
    color: #fff;
}

.aboutUsBlurb {
    font-size: 135%;
}

input.form-control {
    margin-top: 0;
}


.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #607d8b;
}

.featuredHeader {
    border-top: dashed 5px;
    border-bottom: dashed 5px;
}

.loader {
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 100px auto;
}

.content-div {
    padding-top: 150px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[type=checkbox][class*=filled-in]:checked+label:after {
    top: 0;
    border-color: #CC0000;
    background-color: #CC0000;
    z-index: 0;
}

@media only screen and (max-width: 575.99px) {
    #home_carousel {
        height: 500px !important;
    }

    img.navbar-brand {
        max-width: 70%;
        margin: 0 auto;
    }

    .flashMessage {
        width: 75%;
        left: 13.5%;
    }

    .separtator.jumbotron {
        padding: 8em 2em;
    }

    .side-nav .logo-wrapper img {
        padding-top: 24%;
    }

    .side-nav .logo-wrapper {
        height: 200px;
    }

    .display-2 {
        font-size: 3.75rem;
    }
}

@media only screen and (min-width: 576px) {
    #home_carousel {
        height: 500px !important;
    }

    .waves-input-wrapper {
        width: 100%;
    }

    .jumbotron h2 {
        /*font-size: 2.5em;*/
    }

    .showcaseProps:nth-of-type(odd) {
        /* background: linear-gradient(#135feb, #ebf1fb, #ebf1fb); */
    }

    a.brand-logo {
        padding: 25px;
        font-size: 700%;
    }

    nav .button-collapse i {
        line-height: 100px;
    }

    .input-group .input-group-addon {
        font-size: 75% !important;
    }

    .side-nav .logo-wrapper img {
        padding-top: 24%;
    }

    .side-nav .logo-wrapper {
        height: 200px;
    }

    .deletePropImages {
        position: relative;
        margin: 15px 0px;
    }
}

@media only screen and (min-width: 768px) {
    #home_carousel {
        height: 100% !important;
    }

    img.navbar-brand {
        max-width: 50%;
        margin: 0 auto;
    }

    .loginJumbotron {
        max-height: initial;
        min-height: 90vh;
    }

    .mdb-lightbox figure .img-fluid {
        max-height: 210px;
    }

    .deletePropImages {
        position: relative;
        padding: 15px
    }

    .deletePropImages .form-check {
        position: absolute;
        top: -10px;
        left: 0px;
        /* transform: scale(1.5); */
        z-index: 1;
        padding: 0px;
    }

    .deletePropImages .mask p {
        -ms-transform: rotate(-40deg); /* IE 9 */
        -webkit-transform: rotate(-40deg); /* Safari */
        transform: rotate(-40deg); /* Standard syntax */
        font-size: 165%;
        font-family: 'Fugaz One', serif;
    }

    .deletePropImages label {
        top: 10px;
        left: 15px;
        margin: 0;
    }
}

@media (min-width: 992px) {
    nav {
        background: white;
        height: 60px;
        min-height: 60px;
        /* margin:0px -15px; */
        padding: 0 15px;
        width: -webkit-fill-available;
    }

    .side-nav .logo-wrapper {
        height: 160px;
    }

    .side-nav .logo-wrapper img {
        padding-top: 7%;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 750px;
        margin: 30px auto;
    }

    .mdb-lightbox figure .img-fluid {
        max-height: 275px;
    }
}

